<div class="question row">
		
	<div class="span1">
    <%= avatar_for(question.user, { size: :thumb }) %>
	</div>
	
	<div class="span9">
		<div class="name"> 
      <b class="user"> <%= link_to question.user.name, question.user %> </b> 
      <%= t("posts.list.wrote_about") %> 
      <small class="tags"> 
        <% question.tags.each do |tag| %>
          <%= link_to tag.description, questions_path(tag: tag.id) %>
        <% end %>
      </small> 
    </div>
		<%= link_to truncate(question.title, length: 80), question, class: "text" %>
		<div class="date"> 
      <%= "#{time_ago_in_words(question.created_at)}" %> 
      <div class="stats">
        - 
        <span style="color: #f58026"><%= question.views.count %></span> <%= t("posts.views") %> 
        - 
        <span style="color: #f58026"><%= question.answers.count %></span> <%= t("posts.answers") %> 
      </div>
    </div>
	</div>
	
	<div class="span2"> 
		<div class="votes"> 
			<%= question.votes %>
			<small> <%= t("posts.votes") %> </small>
		</div>
    
	</div>
	
</div>