<div id="ask_question">
  <h3> <%= t("posts.new.what_do_you_want") %> </h3>
  
	<%= form_for(@question, :html => { id: 'ask_form', :autocomplete => "off", 
					remote: true}, format: 'json') do |f| %>
    
    <%= f.hidden_field :id %>
    
    <div class="decision">
      <%= f.radio_button :post_type, "Q", checked: true %>
      <%= label_tag(:question_post_type_q, t("posts.new.want_to_ask")) %>
      
      <%= f.radio_button :post_type, "E" %>
      <%= label_tag(:question_post_type_e, t("posts.new.want_to_create_entry")) %>
    </div>
  
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'wysihtml5' %>
    
    <p>
      <small> 
        <%= t('posts.new.help') %>
        <%= link_to t(:help), faq_path(anchor: 'how_upload_images'), target: '_blank' %>
      </small>
    </p>
    
    <%= f.label :tag_tokens, t(:tags), class: 'inline' %> 
    <span class="help-icon" title="<%= t("posts.how_to_ask.use_tags.example_title")+' '+t('posts.how_to_ask.use_tags.example1') %>" data-toggle="tooltip"> <i class="icon-question-sign"></i></span>
    <%= f.text_field :tag_tokens, class: 'tags_input', data: {load: @question.tags} %>
  
    <%= f.submit t("questions.ask.send"), 'data' => { 'loading-text' => t(:loading) },
          class: 'btn btn-primary', id: 'ask_button'%>
    <span id="ask_error" class="text-error"></span>
  <% end %>
  
</div>

