<div id="questions">
	
	<ul id="filter_nav" class="nav nav-pills">
    <% params = { type: @type, tag: @filter[:tag], search: @filter[:search]} %>
	  <li id="hot" class="filter_questions"> 
      <%= link_to t(:hot), questions_path(params.merge({filter: 'hot'})), 
          remote: true, class: 'remote_link' %>
    </li>
	  <li id="reputation" class="filter_questions"> 
      <%= link_to t(:reputation), questions_path(params.merge({filter: 'reputation'})), 
          remote: true, class: 'remote_link' %>
    </li>
	  <li id="most_recent" class="filter_questions">
      <%= link_to t(:most_recent), questions_path(params.merge({filter: 'most_recent'})), 
            remote: true, class: 'remote_link' %>
    <li>
	  <li id="my_school" class="filter_questions">
      <%= link_to t(:my_school), questions_path(params.merge({filter: 'my_school'})), 
          remote: true, class: 'remote_link' %>
    <li>  
	</ul>
	
  <div id="questions_list">
    <%= render partial: 'questions_list' %>
  </div>
  <%= will_paginate @questions, previous_label: h("<"), next_label: h(">") %>
	
</div>

<script type="text/javascript">
  activeMenuItem('main_nav', '<%= @type %>');
  activeMenuItem('filter_nav', '<%= @tab %>');
</script>