<div id="main_header">
	<h3> Questions </h3>
</div>

<div id="questions">
	
	<div class="question row">
			
		<div class="span1">
			<%= image_tag("usuario1.jpg", class: 'avatar', alt:'') %>
		</div>
		
		<div class="span9">
			<div class="name"> <b> Juan Perez </b> preguntó sobre <small> tag1, tag2 </small> </div>
			<%= link_to "Esta sería una pregunta muy interesante", "#", class: "text" %>
		</div>
		
		<div class="span2 stats"> 
			<span class="date"> Hace 2 minutos </span>
			<ul class="icons">
				<li title="Votos"> <%= image_tag("icons/heart.png") %> 5 </li>
				<li title="Respuestas"> <%= image_tag("icons/comment.png") %> 0 </li>
				<li title="Vistas"> <%= image_tag("icons/user.png") %> 2 </li>
			</ul>
		</div>
		
		
	</div>
	
	<div class="question row">
			
		<div class="span1">
			<%= image_tag("usuario2.jpg", class: 'avatar', alt:'') %>
		</div>
		
		<div class="span9">
			<span class="name"> <b> Roberto Sanchez </b> preguntó sobre <small> tag1, tag2 </small> </span>
			<%= link_to "Cómo convertirme en vampiro?", "#", class: "text" %>
			
		</div>
		
		<div class="span2 stats"> 
			<span class="date"> Hace 2 horas </span>
			<ul class="icons">
				<li title="Votos"> <%= image_tag("icons/heart.png") %> 5 </li>
				<li title="Respuestas"> <%= image_tag("icons/comment.png") %> 0 </li>
				<li title="Vistas"> <%= image_tag("icons/user.png") %> 2 </li>
			</ul>
		</div>
		
	</div>
	
	<div class="question row">
			
		<div class="span1">
			<%= image_tag("usuario3.gif", class: 'avatar', alt:'') %>
		</div>
		
		<div class="span9">
			<span class="name"> <b> Maria Fernandez Lopez </b> preguntó sobre <small> tag1, tag2 </small> </span>
			<%= link_to "Cocinar un asado sin carbón, fósforos, madera y diario", "#", class: "text" %>
		</div>
		
		<div class="span2 stats"> 
			<span class="date"> 21 de abril  a las 12:30 </span>
			<ul class="icons">
				<li title="Votos"> <%= image_tag("icons/heart.png") %> 5 </li>
				<li title="Respuestas"> <%= image_tag("icons/comment.png") %> 0 </li>
				<li title="Vistas"> <%= image_tag("icons/user.png") %> 2 </li>
			</ul>
		</div>
		
		
	</div>
	
	<div class="question row">
			
		<div class="span1">
			<%= image_tag("usuario4.jpg", class: 'avatar', alt:'') %>
		</div>
		
		<div class="span9">
			<span class="name"> <b> Carla Gonzalez </b> preguntó sobre <small> tag1, tag2 </small> </span>
			<%= link_to "Reencarnarme en una oruga gigante", "#", class: "text" %>
		</div>
		
		<div class="span2 stats"> 
			<span class="date"> 10 de abril a las 10:43 </span>
			<ul class="icons">
				<li title="Votos"> <%= image_tag("icons/heart.png") %> 5 </li>
				<li title="Respuestas"> <%= image_tag("icons/comment.png") %> 0 </li>
				<li title="Vistas"> <%= image_tag("icons/user.png") %> 2 </li>
			</ul>
		</div>
		
		
	</div>
	
</div>