<div id="show_question">
  <div class="row question">
    
    <div class="row">
      <h3 class="span10"> <%= @question.title %> </h3>
    </div>
    <div class="question_body row">
      <div class="span10"> 
        <%= raw @question.body %> 
      </div>
  		<%= render partial: 'votes/vote', locals: { voteable: @question}  %>
  		
    </div>
    <div class="pull-left"> 
      <%= avatar_for(@question.user, { size: :mini }) %>
      <%= link_to @question.user.name, '#' %>
      <small class="muted"> <%= @question.created_at.to_time %> </small>
    </div>
    
    <div class="pull-right">
      <% @question.tags.each do |tag|  %>
        <span class="label"> <%= link_to tag.description, '#' %> </span>
      <% end %>
    </div>
    
    <%= render partial: 'comments/comment', locals: { commentable: @question}  %>
    
  </div>
  
  <h4> <%= "#{@question.answers.count} " + t("answers.answer", count: @question.answers.count) %> </h4>
  
  <div id="answers" class="row">
    
    <%= render partial: 'answers/answer', collection: @question.answers.order("votes desc"), as: 'answer' %>
    
  </div>
  
  <%= render 'answer_form' %>
  
</div>