<% if !signed_in? %>

	<div id="sign_in" class="row">
		
		<div class="span8 offset3">
		
				<%= form_tag sessions_path, class: "form-inline", id: 'sign_in_form', remote: true,
					 				format: 'json' do %>
			
					<%= text_field_tag :email, "", placeholder: t(:email), class: "input-xlarge", id: 'sign_in_email' %>
			
					<%= password_field_tag :password, "", placeholder: t(:password), class: "input-xlarge",
						 		id: "sign_in_password"%>
			
					<%= button_tag( :class => "btn btn-primary btn-large", type: 'submit', id: 'sign_in_btn') do %>
					  <i class="icon-ok icon-white"></i>
					<% end %>
					<button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
				<% end %>
				
				<div class="forgot">
					<%= link_to t(:forgot_password), '#' %>
					
				</div>
		
				<p id="sign_in_error" class="text-error">  </p>
				<p id="sign_in_loading" class="text-error"> <%= image_tag "icons/dots16.gif" %> </p>
		</div>
		
	</div>

<% end %>