<% provide(:title, (t ".new_user")) %>

<h1> <%= t ".title" %> </h1>

<div id="sign_up" class="row">
	<div class="form span5 offset1">
		<%= form_for(@user, :html => { id: 'sign_up_form', :autocomplete => "off", 
						remote: true, format: 'json'}) do |f| %>
		
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.text_field :name, placeholder: t(:fake_name) %>
			<%= f.text_field :email, placeholder: t(:fake_email) %>
			
			<div class="inline_fields">
				<%= f.password_field :password, placeholder: t(:password) %>
				<%= f.password_field :password_confirmation, placeholder: t(:confirmation_password) %>
			</div>
			
			<%= f.label :dateOfBirth %>
			<%= f.text_field :dateOfBirth, placeholder: t(:date_format) %>
			
      <div class="school">
        <%= f.label :school %>
				<%= collection_select(:user, :school_id, School.order(:name), :id, :name, 
						{include_blank: '--'}, {class: 'input-xlarge',
            disabled: ('disabled' unless @user.other_school.blank?)}) %>
        <label class="absent">
          <%= check_box_tag 'school_not_present', '1', (!@user.other_school.blank?) %>
          <span> <%= t("users.profile.my_school_absent") %> </span>
        </label>
        <div id="create_other_school" <%= "style=display:block" unless @user.other_school.blank? %>>
          <p> <%= t("users.profile.request_school_creation") %> </p>
          <div>
            <%= f.text_field :other_school, placeholder: t("users.profile.other_school_name"),
                   class: 'input-xlarge'%>
          </div>
        </div>
      </div>
      
			<div class="submit">
				<%= f.submit t(:create_account), class: "btn btn-large btn-primary",
					 	id: 'sign_up_button', 'data' => { 'loading-text' => t(:loading) } %>			
			</div>
		<% end %>
	</div>
	
	<div class="description span5">
    <div class="social_networks">
      <p> <%= t ".sign_up_prefer_social_networks" %> </p>
      <%= link_to raw('<i class="icon icon-twitter"></i> Twitter' ), "/auth/twitter", class: 'btn'%>
      <%= link_to raw('<i class="icon icon-facebook"></i> Facebook'), "/auth/facebook", class: 'btn'%>
      <%= link_to raw('<i class="icon icon-google-plus"></i> Google'), "/auth/google_oauth2", class: 'btn'%>
    </div>
	</div>
</div>