<div id="user">
  <h1> 
    <%= avatar_for(@user, { size: :thumb }) %>
    <%= @user.name %> 
  </h1>
  <p> <b> <%= t(:school) + ':' %> </b> <%= @user.try(:school).try(:name) || t("users.profile.no_school") %> </p>

  <p> <%= raw("<b> #{t(:reputation)}: </b> #{@user.reputation}") %> </p>
  

  <div id="feed">
    <h2> <%= t("feed.title") %> </h2>
    <%= raw("<h3 class='muted'> #{t('feed.empty')} </h3>") if @feed.blank? %>
    <ul>
      <% @feed.each do |activity| %>
        <% if activity.trackable != nil %>
          <li class="activity">
            <%= render_activity activity %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>