<% unless answer.new_record? %>
  <div class="answer row">
		
  	<%= avatar_for(answer.user, { size: :mini }) %>
    <%= link_to answer.user.name, "#" %>
    <small class="muted"> <%= answer.created_at %> </small>
  	
    <div class="body row">
      
      <p class="span9"> <%= answer.body %> </p>
  
  		<div class="votes pull-right"> 
        <%= link_to_function image_tag("icons/rating_good.png"), "up_vote('#{answer.id}')" %>
  			<span id="votes_<%= answer.id%>" class="number"> <%= answer.votes %> </span>
        <%= link_to_function image_tag("icons/rating_bad.png"), "down_vote('#{answer.id}')" %>
        <small> <%= t(:votes) %> </small>
  		</div>
    </div>
    
  </div>
<% end %>