<aside class="span3">
  <ul id="profile_menu" class="nav nav-tabs nav-stacked">
    <li id="personal"> 
      <%= link_to profile_personal_path do %>
        <%= t ("users.profile.personal") %> <i class="icon-chevron-right"></i>
      <% end %> 
    </li>
    <% if current_user.password_required? %>
      <li id="password"> 
        <%= link_to profile_password_path do %>
          <%= t (:password) %> <i class="icon-chevron-right"></i>
        <% end %> 
      </li>
    <% end %>
    
    <li id="avatar"> 
      <%= link_to profile_avatar_path do %>
        <%= t ("users.profile.avatar") %> <i class="icon-chevron-right"></i>
      <% end %> 
    </li>
    
    <li id="delete"> 
      <%= link_to profile_delete_path do %>
        <%= t ("users.profile.delete") %> <i class="icon-chevron-right"></i>
      <% end %> 
    </li>
  </ul>
</aside>

<%= javascript_tag "Utils.activeMenuItem('profile_menu', '#{active}')" %> 
