<% provide(:title, (@user.name)) %>
<h1> <%= t :user_profile %> </h1>
<div id="profile">
  
  <%= render partial: '/users/profile/menu', locals: { active: 'password'} %>
  
  <div class="span5 offset1">
  
  	<div class="form">
  		<%= form_for(@user, :html => { class: 'profile_form', :autocomplete => "off"},
            remote: true) do |f| %>
  		
        <%= f.hidden_field :updating_password %>
  			<p id="form_message" class="alert form_errors">  </p>
		
        <%= f.label :password, '', class: 'first' %>
  			<%= f.password_field :password, placeholder: t(:password), 
              id: 'password', class: 'input-large' %>

        <%= f.label :password_confirmation %>
  			<%= f.password_field :password_confirmation, placeholder: t(:password),
              id: 'confirmation', class: 'input-large' %>
        
        <div>
  				<%= f.submit t(:save), class: "btn btn-large btn-primary",
  					 	id: 'save_button', 'data' => { 'loading-text' => t(:loading) } %>			
  			</div>
    
  		<% end %>
	
  	</div>

  </div>
  
  
</div>
