<header class="navbar container ">
	<%= render 'sessions/sign_in' %>
	
	<div class="container">
		
		<div class="row">
			<%= link_to image_tag("logo.png"), root_path, id: "logo" %>
      
		
			<nav class="row">
				<% if !signed_in? %>
					<ul class="nav signed_out pull-right">
		        <li id="search_container" class="search"> 
							<%= link_to "<i class='icon icon-search'> </i>".html_safe, "#", class: "search", id: "search_icon" %> 
      				<%= form_tag questions_path, id: 'search_form', method: 'get', autocomplete: 'off' do %>
                <%= text_field_tag :search, "", placeholder: t(:search) %>
              <% end %>
							
						</li>
						<li> <%= link_to_function t(:sign_in), "toggle_sign_in()", id: 'show_sign_in_btn' %> </li>
						<li> <%= link_to t(:sign_up), new_user_path %> </li>
					</ul>
				<% else %>
					<ul class="nav signed_in pull-right">
		        <li id="search_container" class="search"> 
							<%= link_to "<i class='icon icon-search'> </i>".html_safe, "#", class: "search", id: "search_icon" %> 
      				<%= form_tag questions_path, id: 'search_form', method: 'get', autocomplete: 'off' do %>
                <%= text_field_tag :search, "", placeholder: t(:search) %>
              <% end %>
						</li>
            <li>
              <%= link_to "<i class='icon icon-bell'> </i>".html_safe, "#", id: "notifications_link", class: 'popover-link',
                     data: { title: t('notification.title'), url: notifications_url,
                          pollurl: check_new_notifications_url }%>
            </li>
		      	<li id="fat-menu" class="dropdown">
              
		          <a href="#" class="user_name dropdown-toggle" data-toggle="dropdown">
		            <%= @current_user.name %> <b class="caret"></b>
		          </a>
		          <ul class="dropdown-menu">
                <li><%= link_to t('feed.my_feed'), current_user %></li>
                <li><%= link_to t(:profile), profile_personal_path %></li>
		            <li class="divider"></li>
		            <li> <%= link_to t(:sign_out), signout_path, method: "delete" %> </li>				
		          </ul>
		        </li>
					</ul>
				<% end %>
	    </nav>
		</div>
  </div>
</header>