<header class="navbar navbar-fixed-top ">
	<%= render 'sessions/sign_in' %>
	
	<div class="container">
		
		<div class="row">
			<%= link_to "scholaris", "#", id: "logo" %>
		
			<nav class="row">
				<% if !signed_in? %>
		      <ul class="nav pull-right">
		        <li> <%= link_to "<i class='icon icon-search'> </i>".html_safe, "#", class: "search" %> </li>
						<li> <%= link_to_function t(:sign_in), "toggle_sign_in()" %> </li>
						<li> <%= link_to t(:sign_up), "#", id: "prueba" %> </li>
		      </ul>
				<% end %>
	    </nav>
		</div>
  </div>
</header>