<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title))%></title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
    <div id="alerts" class="alert" style="display:none"> </div>
		<%= render 'layouts/header' %>
    <%= render 'layouts/loading-bar' %>
		<div id="main_container" class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
      
      <%= render 'shared/main_nav' %>
			<%= yield %>
			<!-- <%= debug(params) if Rails.env.development? %> -->
      
		</div>
	</body>
</html>
